@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.NextVideo {
    display: flex;
    // justify-content: space-between;

    @include tablet {
        width: 30rem;
    }

    

    &__image {
        max-width: 10rem;
        max-height: 5.5rem;
        border-radius: 7px;
        // object-fit: fill;
        flex-shrink: 0;
        
        

        @include tablet {
            max-width: 50%;
            max-height: 7rem;
            margin-bottom: 1rem;
        }
    }

    &__title-channel {
        margin: 0rem 1rem;
    }
}