@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.NextVideos {
    margin: 1rem;

    @include desktop {
        padding-left: 1rem;
        border-left: 1px $Mercury solid;
    }
}