$BrainFlix-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BrainFlix-Blue: #0095FF;

$BrainFlix-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
$BrainFlix-DarkBlue: #0065AD;

$tablet-size: 768px;
$desktop-size: 1280px;