@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

// h2 {
//     color: $Silver;
// }

* {
    @include tablet {
        margin: 0.5rem;
    }
}

.videoUpload {

    // @include desktop {
    //     display: flex;
    // }

    &__thumbnail {
        width: 100%;
        border-radius: 8px;

        @include desktop {
            width: 40%;
        }
    }

    &__title {
        @include tablet {
            width: 90%;
        }
    }

    &__desc {
        @include tablet {
            width: 90%;
            height: 7rem;
        }
    }

    &__input-fields {
        @include desktop {

        }
    }

    
}

input {
    background-image: none;
    
    &::placeholder {
        color: $BrainFlix-Black;
    }
}

label {
    color: $Mercury;
}

.submit-button {
    background-color: $BrainFlix-Blue;
    color: white;
    display: flex;
    position: relative;
    padding-left: 3.5rem;
    height: 2.5rem;
    margin-top: 16px;
    border-radius: 5px;
    background-image: url('../../assets/Icons/upload.svg');
}

.cancel-button {
    background-color: white;
    border: none;
    color: $BrainFlix-Blue;
}